<h1><%= @event.name %></h1>

<div>
  <ul>
    <li><%= @event.description %></li>
    <li><%= @event.location %></li>
    <li><%= @event.date %></li>
  </ul>
</div>

<h2>Attendees</h2>

<ol>
  <% @event.attendees.each do |attendee| %>
  <li><%= attendee.full_name %></li>
  <% end %>
</ol>
